{% extends "bootstrap/base.html" %}

{% block content %}
    <div>
        <h3>{{ culto.__repr__() }}</h5>
        {% if culto %}
        <ul class="list-group">
            {% for person in presences %}
                <li class="list-group-item list-group-item-dark">
                    <small>{{ loop.index }}</small>
                    {{ person.nome }}
                </li>
            {% endfor %}
        </ul>
        {% else %}
            {% for c in cultos %}
            <h4><a href="/terradonunca/{{ c.id }}">{{ c.dt_culto }}/{{ c.periodo }}</a></h4>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}