{% extends "index.html" %}
{% block form %}
	<form class="login100-form validate-form" method="post" role="form">
		<span class="login100-form-logo">
			<img src="static/iconeredondo.png" alt="Logo IPB" width="125" height="125">
		</span>
		{% block formu %}
			{% if  not sended %}
				{{ form.csrf_token }}
				{% if cultos %}
					<span class="login100-form-title p-b-34 p-t-27">
						Confirme sua presença no culto
						{#{ "{}/{}/{}".format(culto.dt_culto.day, culto.dt_culto.month, culto.dt_culto.year) }#}
					</span>
					<!-- <p class="error">{{ form.errors }}</p> -->
					<div class="wrap-input100 validate-input" data-validate="Enter name">
						<!-- <label for="nome">Inscrição individual</label> -->
						<input class="input100" type="text" name="nome" placeholder="seu nome" maxlength="20">
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
					</div>
					<div class="contact100-form">
						<select class="form-control" id="culto" name="culto">
								{% for c in form.culto %}
									{{ c }}
								{% endfor %}
							</select>
					</div>
					<br>
					<div class="container-login100-form-btn">
						<button name="action_save" class="login100-form-btn" type="submit">
							Confirme
						</button>
					</div>
				{% else %}
				<span class="login100-form-title p-b-34 p-t-27">
					Nenhum culto disponível
				</span>
				{% endif %}
			{% else %}
			<span class="login100-form-title p-b-34 p-t-27">
				{{ msg }}
			</span>
				<a class="txt1" href="/">Confirmar outra presença</a>
			{% endif %}
		{% endblock %}
	</form>
{% endblock %}